<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6PeQNBXQj1HING8-cSaEVloHKe1FYPoE</string>
	<key>GCM_SENDER_ID</key>
	<string>288653482028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grodi.grodi</string>
	<key>PROJECT_ID</key>
	<string>plume-a4099</string>
	<key>STORAGE_BUCKET</key>
	<string>plume-a4099.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288653482028:ios:b26f2681548b9f091a1989</string>
</dict>
</plist>